include ../../../text-input/text-input
include ../../../masked-input/masked-input
include ../../../datepicker-input/datepicker-input
include ../../../subscribe-input/subscribe-input
include ../../../comfort-input/comfort-input
include ../../../expandable-checkbox-list/expandable-checkbox-list
include ../../../checkbox/checkbox
include ../../../comfort-status-list/comfort-status-list
include ../../../toggle/toggle
include ../../../checkboxes-list/checkboxes-list
include ../../../radios-list/radios-list
include ../../../toggles-list/toggles-list
include ../../../like-button/like-button
include ../../../rate-button/rate-button
include ../../../guests-input/guests-input
include ../../../feedback/feedback
include ../../../range-slider/range-slider
include ../../../button-simple/button-simple
include ../../../button-arrow/button-arrow
include ../../../button-filled/button-filled
include ../../../button-bordered/button-bordered
include ../../../pagination/pagination
include ../../../bullet/bullet
include ../../../bullets-list/bullets-list
include ../../../datepicker-input/datepicker-input
    
mixin form-elements(data={})
  -
    const {
            textInput, textInputFocused, guestsInputDropdown, maskedInput, datepickerInputArrival, 
            datepickerInputCheckout, datepickerInputArrivalAndCheckout, subscribeInput, comfortInput, comfortInputExpanded, 
            expandableCheckboxList, expandableCheckboxListExpanded, comfortStatusList, checkboxesList, radiosList, 
            togglesList, likeButtonCaption, likeButton, likeButtonChecked, rateButtonCaption, 
            rateButton4, rateButton5, guestsInput, checkboxesListRich, rangeSlider, 
            buttonsCaption, buttonFilled, buttonFilledDisabled, buttonBordered, buttonBorderedDisabled, 
            buttonSimple, buttonSimpleGray, buttonArrow, paginationCaption, pagination, 
            guestsInputOpen, bulletsListCaption, bulletsList, feedback 
          } = data
  .form-elements
    .form-elements__column-left
      ul.form-elements__column-left-list
        li.form-elements__column-left-item
          +text-input(textInput)
        li.form-elements__column-left-item
          +text-input(textInputFocused)
        li.form-elements__column-left-item.form-elements__column-left-wrapper-for-guests-input0
          +guests-input(guestsInputDropdown)
        li.form-elements__column-left-item.form-elements__column-left-wrapper-for-masked-input
          +masked-input(maskedInput)
        li.form-elements__column-left-item.form-elements__column-left-wrapper-for-datepicker-inputs
          ul.form-elements__column-left-datepicker-inputs-list
            li.form-elements__column-left-datepicker-inputs-item.form-elements__column-left-datepicker-input-arrival
              +datepicker-input(datepickerInputArrival)
            li.form-elements__column-left-datepicker-inputs-item.form-elements__column-left-datepicker-input-checkout
              +datepicker-input(datepickerInputCheckout)
        li.form-elements__column-left-item.form-elements__column-left-wrapper-for-fdd-input          
          +datepicker-input(datepickerInputArrivalAndCheckout)
        li.form-elements__column-left-item.form-elements__column-left-wrapper-for-subscribe-input
          +subscribe-input(subscribeInput)
        li.form-elements__column-left-item
          .form-elements__column-left-comfort-input
            +comfort-input(comfortInput)
        li.form-elements__column-left-item.form-elements__column-left-wrapper-for-comfort-input
          .form-elements__column-left-comfort-input
            +comfort-input(comfortInputExpanded)
        li.form-elements__column-left-item.form-elements__expandable-checkbox-list-hide
          +expandable-checkbox-list(expandableCheckboxList)
        li.form-elements__column-left-item.form-elements__expandable-checkbox-list-show                                                            
          +expandable-checkbox-list(expandableCheckboxListExpanded)
        li.form-elements__column-left-item.form-elements__column-left-wrapper-for-comfort-status-list
          +comfort-status-list(comfortStatusList)
    .form-elements__column-wrapper            
      .form-elements__columns-middle-right
        .form-elements__column-middle
          ul.form-elements__column-middle-list
            li.form-elements__column-middle-item.form-elements__column-middle-wrapper-for-checkboxes-list
              +checkboxes-list(checkboxesList)               
            li.form-elements__column-middle-item.form-elements__column-middle-wrapper-for-radios-list
              +radios-list(radiosList)
            li.form-elements__column-middle-item.form-elements__column-middle-wrapper-for-toggles-list 
              +toggles-list(togglesList)         
            li.form-elements__column-middle-item.form-elements__column-middle-wrapper-for-likes-button-list
              .form-elements__likes-buttons
                h3.form-elements__likes-button-list-caption #{likeButtonCaption}
                ul.form-elements__likes-button-list
                  li.form-elements__likes-button-list-item
                    +like-button(likeButton)
                  li.form-elements__likes-button-list-item
                    +like-button(likeButtonChecked)
            li.form-elements__column-middle-item.form-elements__column-middle-wrapper-for-rate-buttons-list
              .form-elements__rate-buttons
                h3.form-elements__rate-buttons-list-caption #{rateButtonCaption}
                ul.form-elements__rate-buttons-list
                  li.form-elements__rate-buttons-list-item
                    +rate-button(rateButton4)
                  li.form-elements__rate-buttons-list-item
                    +rate-button(rateButton5)
            li.form-elements__column-middle-item.form-elements__column-middle-wrapper-for-guests-input1
              +guests-input(guestsInput)
            li.form-elements__column-middle-item.form-elements__column-middle-wrapper-for-rich-checkboxes-list
              +checkboxes-list(checkboxesListRich)                                                 
        .form-elements__column-right
          ul.form-elements__column-right-list
            li.form-elements__column-right-item.form-elements__column-right-wrapper-for-range-slider
              +range-slider(rangeSlider)
            li.form-elements__column-right-item.form-elements__column-right-wrapper-for-buttons-list
              h3.form-elements__buttons-list-caption #{buttonsCaption}
              ul.form-elements__buttons-list    
                li.form-elements__buttons-list-item
                  ul.form-elements__two-buttons-list
                    li.form-elements__two-buttons-list-item.form-elements__two-buttons-list-item_width
                      +button-filled(buttonFilled)
                    li.form-elements__two-buttons-list-item.form-elements__two-buttons-list-item_width
                      +button-filled(buttonFilledDisabled)
                li.form-elements__buttons-list-item
                  ul.form-elements__two-buttons-list
                    li.form-elements__two-buttons-list-item.form-elements__two-buttons-list-item_width
                      +button-bordered(buttonBordered)
                    li.form-elements__two-buttons-list-item.form-elements__two-buttons-list-item_width
                      +button-bordered(buttonBorderedDisabled)
                li.form-elements__buttons-list-item.form-elements__simple-buttons
                  ul.form-elements__two-buttons-list.form-elements__two-buttons-list3
                    li.form-elements__two-buttons-list-item
                      +button-simple(buttonSimple)
                    li.form-elements__two-buttons-list-item
                      +button-simple(buttonSimpleGray)
                li.form-elements__buttons-list-item
                  +button-arrow(buttonArrow)
            li.form-elements__column-right-item.form-elements__pagination-wrapper
              h3.form-elements__pagination-wrapper-caption #{paginationCaption}
              +pagination(pagination)
            li.form-elements__column-right-item.form-elements__column-right-wrapper-for-guests-input2
              +guests-input(guestsInputOpen)
            li.form-elements__column-right-item.form-elements__column-right-wrapper-for-bullet-list
              h3.form-elements__column-right-bullet-list-caption #{bulletsListCaption}
              +bullets-list(bulletsList)
      .form-elements__row
        +feedback(feedback)
