mixin button-simple(data)      
  -if (data.isEnabled==undefined) 
  -  data.isEnabled=true
  -if (data.type==undefined)
  - data.type="button"  
  button.button.button_simple(type=(data.type ? data.type : "button")) #{data.text}

mixin button-bordered(data)
  -if (data.isEnabled==undefined) 
  -  data.isEnabled=true
  -if (data.type==undefined)
  - data.type="button"
  button.button.button_bordered(type=data.type 
    class=(data.dynamic_height ? "button_dynamic-height":"") +" "+
           (data.dynamic_width ? "button_dynamic-width" : "")+" "+
           (data.isEnabled ? "": "button_disabled")) #{data.text}

mixin button-filled(data)
  -if (data.isEnabled==undefined) 
  -  data.isEnabled=true
  -if (data.type==undefined)
  - data.type="button"
  button.button.button_background_colored(type=data.type 
    class=(data.dynamic_height ? "button_dynamic-height":"") +" "+
           (data.dynamic_width ? "button_dynamic-width" : "")+" "+
           (data.isEnabled ? "": "button_disabled")) #{data.text}

mixin button-arrow(data)
  button.button.button_background_colored.button_arrow(type=data.type ? data.type : "button" ) #{data.text}












