mixin btnSimple(data)      
  -if (data.isEnabled==undefined) 
  -  data.isEnabled=true
  -if (data.type==undefined)
  - data.type='button'  
  button.button.btnSimple(class=((data.isEnabled) ? '': 'button_disabled') type=data.type) #{data.text}

mixin btnBordered(data)
  -if (data.isEnabled==undefined) 
  -  data.isEnabled=true
  -if (data.type==undefined)
  - data.type='button'
  button.button.button_bordered(class=((data.isEnabled) ? '': 'button_disabled') type=data.type) #{data.text}

mixin button-filled(data)
  -if (data.isEnabled==undefined) 
  -  data.isEnabled=true
  -if (data.type==undefined)
  - data.type='button'
  button.button.button_background_colored(class=((data.isEnabled) ? '': 'button_disabled') type=data.type) #{data.text}  
  
mixin btnArrow(data)
  button.button.button_background_colored.button_arrow #{data.text}











//OLD CODE
mixin btn(options)
  -
    var buttonClassName = "button"
    buttonClassName += options.isBlue ? " button-blue" : ""
  button(class = buttonClassName)= options.title || "Button"