mixin button-simple(data)      
  -if (data.isEnabled==undefined) 
  -  data.isEnabled=true
  -if (data.type==undefined)
  - data.type='button'  
  button.button.button_simple(class=((data.isEnabled) ? '': 'button_disabled') type=data.type) #{data.text}

mixin button-bordered(data)
  -if (data.isEnabled==undefined) 
  -  data.isEnabled=true
  -if (data.type==undefined)
  - data.type='button'
  button.button.button_bordered.button_dynamic-height.button_dynamic-width(class=((data.isEnabled) ? '': 'button_disabled') type=data.type) #{data.text}

mixin button-filled(data)
  -if (data.isEnabled==undefined) 
  -  data.isEnabled=true
  -if (data.type==undefined)
  - data.type='button'
  button.button.button_background_colored.button_dynamic-height.button_dynamic-width(class=((data.isEnabled) ? '': 'button_disabled') type=data.type) #{data.text}  

mixin button-arrow(data)
  button.button.button_background_colored.button_arrow(type=data.type ? data.type : 'button' ) #{data.text}












mixin btn(options)
  -
    var buttonClassName = "button"
    buttonClassName += options.isBlue ? " button-blue" : ""
  button(class = buttonClassName)= options.title || "Button"