mixin fdd-input(data)
  .fdd-input
    if data.caption
      label.fdd-input__caption #{data.caption}
    .fdd-input__wrapper
      input.fdd-input__input(value=data.value placeholder=data.placeholder)

mixin fdd-input-old(data)
  label.fdd-input
    if (data.caption)
      h3.fdd-input__caption #{data.caption}    
    input.fdd-input__input(value=data.value type=data.type placeholder=data.placeholder)

