mixin item-quantity-dropdown(data)
  div(class='iqdropdown'+ (data.isExpanded ? " iqdropdown_show" : "")) 
    p.iqdropdown__selection 
    .iqdropdown__menu
      for item in data.items
        .iqdropdown__menu-option(data-id=item.id data-defaultcount=item.defaultcount data-mincount=item.mincount data-maxcount=item.maxcount)
          div
            p.iqdropdown__item #{item.name}
      if data.isShowButtons
        .iqdropdown__buttons
          button.iqdropdown__clear.iqdropdown__clear_hide ОЧИСТИТЬ
          button.iqdropdown__apply ПРИМЕНИТЬ