mixin dd-input(data)
  .dd-input
    if data.caption
      label.dd-input__caption(for=data.id) #{data.caption}
    .dd-input__wrapper
      input.dd-input__input.js-datapicker(value=data.value 
                                          id=data.id type=data.type 
                                          placeholder=data.placeholder 
                                          data-range="true" 
                                          data-multiple-dates-separator=" - ")







