mixin subscribe-input(data)
  label.subscribe-input
    if (data.caption)
      h3.subscribe-input__caption #{data.caption}    
    input.subscribe-input__input(type="email" placeholder=data.placeholder)





mixin subscribe-input-old(data)
  .subscribe-input
    label(class="subscribe-input__caption" for="input") #{data.caption}
    .subscribe-input__wrapper
      input(class="subscribe-input__input" id="input" type=data.type placeholder=data.placeholder value=data.text)

