mixin datepicker-input(data)
  - if (data.hasDatepicker===undefined) data.hasDatepicker=true
  .datepicker-input
    if data.caption
      label.datepicker-input__caption(for=data.id) #{data.caption}
    .datepicker-input__wrapper
      input.datepicker-input__input(readonly id=data.id type=data.type 
        placeholder=data.placeholder
        class=(data.hasDatepicker ? "toxin-datepicker js-toxin-datepicker" :""))