- 
  const mock = "/mock-address/change-me"

  const menu_in_header = [
    {text: "О нас", link: mock},
    {
      text: "Услуги", link: "#", 
      sm: [
        {text: "Пункт21", link: mock},
        {text: "Пункт22", link: mock},
        {text: "Пункт23", link: mock},
        {text: "Пункт24", link: mock},
        {text: "Пункт25", link: mock},
      ]
    },
    {text: "Вакансии", link: mock},
    {text: "Новости", link: mock},
    {
      text: "Соглашения", link: "#",
      sm: [
        {text: "Пункт51", link: mock},
        {text: "Пункт52", link: mock},
        {text: "Пункт53", link: mock},
      ]
    },                                    
  ]

  const menu_in_footer = [
    {
      title: "Навигация",
      items: [
        {text: "О нас", link: mock},
        {text: "Новости", link: mock},
        {text: "Служба поддержки", link: mock},
        {text: "Услуги", link: mock}
      ]
    },
    {
      title: "О нас",  
      items: [
        {text: "О сервисе", link: mock},
        {text: "Наша команда", link: mock},
        {text: "Вакансии", link: mock},
        {text: "Инвесторы", link: mock}
      ]
    },
    {
      title: "Служба поддержки",   
      items: [
        {text: "Соглашения", link: mock},
        {text: "Сообщества", link: mock},
        {text: "Связь с нами", link: mock}
      ]
    }
  ]

  const header_data = {
    logo_path: "../../components/logo/logo.svg", 
    login: "Войти", 
    reg: "Зарегистрироваться", 
    isAuth: false, 
    menu: menu_in_header,
    isHeader: true,
    buttonLogin: {text: "Войти", isHeader: true, dynamicWidth: true}
  }
  const footer_data = {
    logoWithText: {
      logo_path: "../../components/logo/logo.svg", 
      desc: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»"
    },    
    menu: menu_in_footer,     
    sub: {caption: "Подписка", desc: "Получайте специальные предложения и новости сервиса", subscribeInput: {placeholder: "Email"}},
    copyright: "Copyright © 2018 Toxin отель. Все права защищены.",
    socialButtons: {iconTwitter: "twitter", iconFacebook: "facebook-square", iconInstagram: "instagram"}
  }

mixin MenuItems(items, calls=1)  
  - let typeOfList = (calls>2) ? "header-menu__list_sub-sub-list" : "header-menu__list_sub-list"
  ul.header-menu__list.js-menu__list(class= (calls==1) ? "" : typeOfList)
    for mi in items
      +createHTMLtags(mi, calls)
        if mi.sm
          +MenuItems(mi.sm, calls+1)

mixin createHTMLtags({sm, isBold, link, text}, calls)
  - let typeOfList = (calls>2) ? "header-menu__item_sub-sub-item" : "header-menu__item_sub-item"    
  li.header-menu__item(class=((calls==1) ? "" : typeOfList) + (sm && " header-menu__list_arrow" || ""))
    a.header-menu__link.js-menu__link(class=(isBold && "header-menu__link_bold") href=link) #{text}
    block     

mixin favicon({path=""} = {})
  link(rel="apple-touch-icon" sizes="180x180" href=path+"apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href=path+"favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href=path+"favicon-16x16.png")
  link(rel="manifest" href=path+"site.webmanifest")
  link(rel="mask-icon" href=path+"safari-pinned-tab.svg" color="#5bbad5")
  meta(name="msapplication-TileColor" content="#da532c")
  meta(name="theme-color" content="#ffffff")

mixin meta-tags({description, keywords} = data)
  meta(charset="UTF-8")
  meta(name="description" content=description)
  meta(name="keywords" content=keywords)
  meta(name="viewport" content="initial-scale=1.0, width=device-width")